/**
* HTML5 ✰ Boilerplate
*
* style.css contains a reset, font normalization and some base styles.
*
* Credit is left where credit is due.
* Much inspiration was taken from these projects:
* - yui.yahooapis.com/2.8.1/build/base/base.css
* - camendesign.com/design/
* - praegnanz.de/weblog/htmlcssjs-kickstart
*/


/**
* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
* v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
* html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	margin: 1em 0;
	padding: 0;
	clear: both;
}

em {
	font-style: italic;
}

input, select {
	vertical-align: middle;
}


/**
* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
*/

body {
	font: 12px/1.231 sans-serif; *font-size:small;
}
/* Hack retained to preserve specificity */
select, input, textarea, button {
	font: 99% sans-serif;
}

/* Normalize monospace sizing:
en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}


/**
* Minimal base styles.
*/

/* Always force a scrollbar in non-IE */
html {
	overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

ul, ol {
	margin-left: 1.5em;
}
ol {
	list-style-type: decimal;
}
ul {
	list-style-type: square;
}
ul li,
ol li {
	margin: 3px 0;
}

/* Remove margins for navigation lists */
nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}

small {
	font-size: 85%;
}
strong, th {
	font-weight: bold;
}

td {
	vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

pre {
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
padding: 15px;
}

textarea {
	overflow: auto;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend {
	margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css */
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
	margin: 0;
}

/* Colors for form validity */
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: #f0dddd;
}


/* These selection declarations have to be separate
No text-shadow: twitter.com/miketaylr/status/12228805301
Also: hot pink! */
::-moz-selection {
	background: #DA2A34;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #DA2A34;
	color: #fff;
	text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/**
* You might tweak these..
*/

body, select, input, textarea {
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
color: #444;
/* Set your base font here, to apply evenly */
font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	margin: 5px;
}

br {
	margin: 0;
}

a, a:active, a:visited {
	color: #DA2A34;
}
a:hover {
	color: #8F2720;
}


/**
* Primary styles
*
* Author:
*/

body {
	background: #fff url(../images/bg.png) top left repeat-x;
}

tr, td {
	padding: 2px;
}

.logo {
	display: block;
	float: left;
	margin-bottom: 15px;
}

#container {
	width: 940px;
	height: auto;
	margin: 0 auto;
}

header {
	width: 940px;
	margin: 15px 0;
	position: relative;
}

#header_contact {
	position: absolute;
	top: 0;
	right: 0;
}

#header_contact h2 {
	color: #444;
	font-size: 2.2em;
	margin: 3px 0 6px;
	padding: 0 0 8px 0;
	text-align: right;
	border-bottom: 1px solid #ccc;
	line-height: 20px;
}

#header_contact .social {
	text-align: left;
}

#header_contact h2 .phone-times {
	float: right;
	font-size: 0.4em;
	line-height: 1.15;
	text-align: left;
	margin: -2px 0 0 10px;
}

h1 {
	font-weight: bold;
	font-size: 1.8em;
	color: #DB2A34;
	margin: 15px 0;
	padding: 0 0 7px 0;
	border-bottom: 1px solid #000;
}

h2, h3, h4, h5 {
	font-weight: bold;
	font-size: 18px;
	color: #DB2A34;
	margin: 20px 0;
}

h3 {
	font-size: 15px;
}

h4, h5 {
	font-size: 1em;
	color: #000;
}

img.tag {
	margin: 0 0 0 20px;
}

#main {
	width: 940px;
	height: auto;
}

#main p {
	margin: 15px 0;
	text-align: justify;
}

ul#main_list {
	width: 380px;
	height: 170px;
	margin: 0 0 0 50px;
	float: right;
}

ul#main_list li {
	margin: 0 0 15px 0;
	padding: 0 0 0 30px;
	background: url(../images/check_list.png) left center no-repeat;
	list-style-type: none;
}

#box_container {
	width: 940px;
	height: auto;
	display: block;
	float: left;
}

a.box {
	width: 220px;
	height: auto;
	margin: 10px 18px 10px 0;
	float: left;
	text-decoration: none;
	display: inline;
}

a.box img, a.last img {
	border: 1px solid #444;
}

a.box:hover img, a.last:hover img {
	border: 1px solid #888;
}

a.box p, a.last p {
	margin: 5px 0;
	color: #444;
}

a.last {
	width: 220px;
	height: auto;
	float: left;
	display: inline;
	text-decoration: none;
	margin: 10px 0 10px 0;
}

/* Nav
-------------*/
#nav {
	width: 940px;
	height: 33px;
	margin: 0;
	padding: 0;
	clear: both;
}

#nav li {
	list-style: none;
	float: left;
	display: inline;
	margin: 0;
}

#nav a {
	width: 124px;
	height: 25px;
	color: #fff;
	display: inline-block;
	padding: 10px;
	background: #cf312d url(../images/bg_nav.png) center left repeat-x;
	text-decoration: none;
	/*text-transform: uppercase;*/
	text-align: center;
	padding: 8px 0 0 0;
	border-left: 1px solid #fff;
}

#nav #blog-link a {
	background: #565656 url(../images/bg_nav_blog.png) top left repeat-x;
}

#nav a:hover {
	background: #7f1e1c url(../images/bg_nav_over.png) top left repeat-x !important;
}

#nav a.dsghome {
	width: 65px;
	height: 29px;
	padding: 4px 0 0 0;
	border-left: none;
}


/* Search Bar
-------------*/

form#search {
	width: 920px;
	background: #3a3a3a;
	margin: 10px 0 0 0;
	padding: 8px 10px;
	color: #fff;
}

form#search .form-error {
	font-style: italic;
	font-weight: bold;
	color: #DB2A34;
	padding: 0 0 5px 10px;
}

form#search label {
	color: #fff;
	margin: 10px;
}

form#search .search-label {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 20px 0 10px;
	position: relative;
	top: 2px;
}

form#search select {
	width: 150px;
	height: 25px;
	margin: 0 10px;
	padding: 0;
}

form#search .submit {
	background: #DB2A34;
	border: 1px solid #CDCDCD;
	color: #FFFFFF;
	font-size: 10px;
	height: 23px;
	margin: 1px 0 0 7px;
	text-transform: uppercase;
	width: 70px;
}


/* Showcase
-------------*/

#awOnePageButton .view-slide {
	display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load {
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage {
/**/
}

/* Container when content is shown in slider */
.showcase {
	position: relative;
	margin: auto;
}

.showcase-content-container {
	background-color: #000;
}

/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next {
	position: absolute;
	background: url('../images/arrows.png');
	width: 33px;
	height: 33px;
	top: 150px;
	cursor: pointer;
}

.showcase-arrow-previous {
	left: -60px;
}

.showcase-arrow-previous:hover {
	background-position: 0px -34px;
}

.showcase-arrow-next {
	right: -56px;
	background-position: -34px 0;
}

.showcase-arrow-next:hover {
	background-position: -34px -34px;
}

/* Content */
.showcase-content {
	background-color: #000;
	text-align: center;
}

.showcase-content-wrapper {
	text-align: center;
	height: 470px;
	width: 810px;
	display: table-cell;
	vertical-align: middle;
}

/* Styling the tooltips */
.showcase-plus-anchor {
	background: url('../images/plus.png');
	background-repeat: no-repeat;
}

.showcase-plus-anchor:hover {
	background-position: 0 -42px;
}

div.showcase-tooltip {
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 5px 8px;
	background-image: url(../images/white-opacity-80.png);
}

/* Styling the caption */
.showcase-caption {
	color: #000;
	padding: 5px 10px;
	text-align: left;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	display: none;
	background-image: url(../images/white-opacity-80.png);
}

.showcase-onepage .showcase-content {
	margin-bottom: 10px;
}

/* Button Wrapper */
.showcase-button-wrapper {
	clear: both;
	margin-top: 10px;
	text-align: center;
}

.showcase-button-wrapper span {
	margin-right: 3px;
	padding: 2px 5px 0px 5px;
	cursor: pointer;
	font-size: 12px;
	color: #444444;
}

.showcase-button-wrapper span.active {
	color: #fff;
}

/* Thumbnails */
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */ {
	background-color: #000;
}

.showcase-thumbnail-wrapper {
	overflow: hidden;
}

.showcase-thumbnail {
	width: 120px;
	height: 42px;
	cursor: pointer;
	border: solid 1px #333;
	position: relative;
}

.showcase-thumbnail-caption {
	position: absolute;
	bottom: 2px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.showcase-thumbnail-content {
	padding: 10px;
	text-align: center;
	padding-top: 15px;
}

.showcase-thumbnail-cover {
	background-image: url(../images/black-opacity-40.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.showcase-thumbnail:hover {
	border: solid 1px #999;
}

.showcase-thumbnail:hover .showcase-thumbnail-cover {
	display: none;
}

.showcase-thumbnail.active {
	border: solid 1px #999;
}

.showcase-thumbnail.active .showcase-thumbnail-cover {
	display: none;
}

.showcase-thumbnail-wrapper-horizontal {
	padding: 10px;
}

.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail {
	margin-right: 10px;
	width: 116px;
}

.showcase-thumbnail-wrapper-vertical {
	padding: 10px;
}

.showcase-thumbnail-wrapper-vertical .showcase-thumbnail {
	margin-bottom: 10px;
}

.showcase-thumbnail-button-backward,
.showcase-thumbnail-button-forward {
	padding: 7px;
	cursor: pointer;
}

.showcase-thumbnail-button-backward {
	padding-bottom: 0px;
	padding-right: 0px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
	background-image: url(../images/arrows-small.png);
	background-repeat: no-repeat;
	display: block;
	width: 17px;
	height: 17px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical {
	background-position: 0 -51px;
	margin-left: 55px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical {
	background-position: -17px -51px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-vertical {
	background-position: 0 -34px;
	margin-left: 55px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical {
	background-position: -17px -34px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
	background-position: 0 -17px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal {
	background-position: -17px -17px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal {
	background-position: 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal {
	background-position: -17px 0;
}

/* Hide button text */
.showcase-thumbnail-button-forward span span,
.showcase-thumbnail-button-backward span span {
	display: none;
}

a.order_btn {
	width: 125px;
	height: 42px;
	display: block;
	background: #db2a34 url(../images/plus.png) top left no-repeat;
	position: absolute;
	top: 200px;
	left: 677px;
}

a.order_btn:hover {
	background-position: 0 -42px;
}



/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}

/* Special Offers
-------------*/

.description {
	font-weight: bold;
	float: left;
}

#whyDSG {
	float: right;
	width: 300px;
	height: 230px;
	padding: 0px 10px;
	margin: 0 0 10px 0;
}

#whyDSG h2 {
	margin: 0 0 10px 0;
}

#specialOffer {
	width: 612px;
	height: 228px;
	border: 1px solid #cdcdcd;
	float: left;
	margin: 0 0 10px 5px;
}

#deals {
	clear: both;
}

.dealContainer span, .dealContainer .price, .dealContainer .buttons {
	float: right;
	margin: 5px 5px 0 0;
}

.dealContainer h2 {
	font-size: 18px;
	margin: 10px;
}

#specialOffer .dealContainer .carImage {
	float: left;
}

.carDealBox, .vanDealBox {
	width: 290px;
	height: 185px;
	float: left;
	margin: 5px;
	padding: 5px;
	border: 1px solid #cdcdcd;
}

.carDealBox .dealContainer span, .vanDealBox .dealContainer span {
	float: none;
}

.carDealBox .carImage, .vanDealBox .carImage {
	margin: 5px 5px 5px 40px;
}

.price {
	font-weight: bold;
}

a.info, a.quote, a.applyNow, a.getQuote, a.callNow {
	background: #DA2A34;
	color: #fff;
	display: block;
	padding: 3px;
	margin: 5px 4px 2px 0;
	width: auto;
	height: 15px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover.info, a:hover.quote, a:hover.applyNow, a:hover.getQuote, a:hover.callNow {
	background: #8F2720;
}

p.dealsText {
	float: left;
	font-style: italic;
}

#details, #details .carImage {
	float: left;
}

.carImage {
	margin: 5px;
}

#details .carImage {
	border: 1px solid #cdcdcd;
	margin: 0px 10px 10px 0;
}

#details span {
	font-weight: bold;
}

.businessPrice, .personalPrice {
	margin: 10px 0 10px 0;
	float: left;
	width: 320px;
}

/* Testimonials
-------------*/

#article b {
	font-weight: bold;
	border-bottom: 1px solid #cdcdcd;
}

/* Forms
-------------*/

#contactUs form {
	margin: 10px 0;
}

#contactUs form .column-1,
#contactUs form .column-2 {
	width: 459px;
	float: left;
	margin-top: 10px;
}

#contactUs form .column-1 {
	border-right: 1px dashed #CDCDCD;
}

#contactUs form fieldset {
	border: none;
}

#contactUs form .column-1 fieldset {
	margin: 0 20px 15px 0;
}

#contactUs form .column-2 fieldset {
	margin: 0 0 15px 20px;
}

#contactUs .form-item {
	clear: both;
}

form p {
	margin: 10px;
}

fieldset {
	border-bottom: 1px solid #cdcdcd;
	margin: 10px;
	padding: 10px;
}

legend {
	font-weight: bold;
	font-size: 18px;
	color: #DB2A34;
	margin: 10px 0;
}

#contactUs input, textarea {
	width: 200px;
	background: url("bg_label.jpg") no-repeat scroll left bottom #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #3B3B3B;
	/*height: 15px;*/
	margin: 5px;
	padding: 2px 4px;
}

#contactUs select {
	width: 210px;
	margin: 5px;
	padding: 2px 4px;
}

form a.submitButton {
	background: #DA2A34;
	color: #fff;
	display: block;
	padding: 3px;
	margin: 5px 10px 2px 175px;
	width: 200px;
	height: 15px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

textarea, select {
	height: auto;
}

input.financeCheck, input.infocheck {
	width: 12px;
	margin-top: 9px;
}

#contactUs label {
	display: block;
	float: left;
	margin: 7px 10px 7px 0;
	width: 150px;
	clear: both;
	text-align: right;
}

#contactUs form {
	float: left;
	margin: 0 20px 0 0;
}

span.required {
}

p span.required {
}

.contact_address {
	float: right;
	margin: 60px 70px 0 0;
	width: 300px;
}

#quoteSubmit {
	text-align: center;
	padding-top: 15px;
	clear: both;
}

#quoteSubmit .submitButton {
	background: #DB2A34;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	text-align: center;
	background: #DA2A34;
	color: #fff;
	padding: 5px;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	width: 160px;
	
	box-shadow: #999 1px 1px 4px;
	-webkit-box-shadow: #999 1px 1px 4px;
	-moz-box-shadow: #999 1px 1px 4px;
	-ms-box-shadow: #999 1px 1px 4px;
}

/* Footer
-------------*/

footer {
	width: 940px;
	height: 310px;
	float: left;
	color: #cbcbcb;
	background: #3a3a3a url(../images/bg_footer.png) top repeat-x;
	margin: 20px 0 0 0;
}

footer a:link, footer a:visited {
	color: #cbcbcb;
	text-decoration: none;
}
footer a:hover, footer a:active {
	color: #fff;
}

#address {
	width: 230px;
	height: 310px;
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #888;
	display: block;
}

h1.footer_title {
	height: 22px;
	color: #3a3a3a;
	font-size: 16px;
	margin: 6px 0 25px 10px;
	padding: 3px 0 0 40px;
	background: url(../images/nav_logo.png) center left no-repeat;
	border: none;
}

#like, #follow {
	float: right;
	height: 25px;
	margin: 5px 5px; 0 0;
}

#follow {
	width: 150px;
}

#like {
	width: 90px;
}

#sitemap ul {
	float: left;
	width: 90px;
	list-style: none;
	margin: 50px 0 0 20px;
	display: block;
}

#sitemap {
	float: left;
}

.footerbrand {
	width: 700px;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	display: block;
}

.footerbrand ul {
	float: left;
	list-style: none;
	width: 90px;
	margin: 0 0 0 20px;
}

.footerbrand ul li, #sitemap ul li {
	margin: 5px 0 5px 0;
}

#sitemap .li_title {
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}

footer p {
	margin: 10px 0 0 51px;
}

footer p.copy {
	font-size: 10px;
}



/**
* Non-semantic helper classes: please define your styles before this section.
*/

/* For image replacement */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
	zoom: 1;
}



/**
* Media queries for responsive design.
*
* These follow after primary styles so they will successfully override.
*/

@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
/* html {
-webkit-text-size-adjust: none;
-ms-text-size-adjust: none;
}
*/
}


/**
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
*/
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	/* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	/* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}

}

/* Twitter feed over-ride styling
*/

#tweets {
	width: 300px;
	margin: 0 auto;
}

#tweets .twtr-widget,
#tweets .twtr-doc {
	width: 100%;
	height: auto;
}

#tweets .twtr-hd {
	background: #d40;
	color: #fff;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	font-family: Georgia, serif;
}

#tweets .twtr-hd *,
#tweets .twtr-hd h4 a {
	background: #d40 !important;
}

#tweets .twtr-hd h3,
#tweets .twtr-hd h4 {
	font-weight: normal;
	text-align: center;
}

#tweets .twtr-hd h3 {
	display: none !important;
}

#tweets .twtr-tweet {
	background: #fff;
}

#tweets .twtr-tweet a:link,
#tweets .twtr-tweet a:visited,
#tweets .twtr-tweet a:hover {
	color: #c40 !important;
}

#tweets .twtr-tweet .twtr-tweet-text {
	border-bottom: 2px dashed #666 !important;
	padding-bottom: 4px !important;
}


#tweets .twtr-tweet .twtr-tweet-text p {
	color: #333 !important;
}

#tweets .twtr-ft {
	display: none !important;
}

/****** Meet the Team ******/
#meet-the-team-wrapper .team-member {
	width: 220px;
	height: 260px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 17px;
	border: 1px solid #cdcdcd;
}

#meet-the-team-wrapper .row-last {
	margin-right: 0px;
}

#meet-the-team-wrapper .team-member-bio {
	width: 202px;
	height: 244px;
	position: absolute;
	top: 210px;
	background: transparent url(../images/red-90.png) repeat top left;
	color: #fff;
	padding: 8px 9px;
	box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
}

#meet-the-team-wrapper .team-member-bio h4 {
	color: #fff;
	font-size: 1.1em;
	margin: 0 0 2px 0;
}

#meet-the-team-wrapper .team-member-bio h5 {
	color: #cdcdcd;
	font-size: 1em;
	margin: 0 0 12px 0;
}

#meet-the-team-wrapper .team-member-bio p {
	font-style: normal;
	text-align: left;
	font-size: 0.9em;
	padding: 0;
	margin: 8px 0;
}

#meet-the-team-wrapper .team-member-bio p b {
	border: none;
	color: #cdcdcd;
}

a#about-the-business {
	background: url("../images/bg_nav_blog.png") repeat-x scroll left top #565656;
	color: #FFFFFF;
	display: block;
	font-size: 1.2em;
	font-style: normal;
	padding: 7px 12px 7px 10px;
	text-decoration: none;
	width: 200px;
}

a#about-the-business:hover {
	background: #7f1e1c url(../images/bg_nav_over.png) top left repeat-x !important;
}

.ui-accordion {
  margin: 0 0 15px 0;	
}

.ui-accordion-header {
	margin: 5px 0 0 0;
	border: 1px solid #ccc;
	outline: none;
}

.ui-accordion-header a {
	text-decoration: none;
	outline: none;
	display: block;
  padding: 5px 15px;
	background: #e9e9e9;
}

.ui-accordion-header a:hover {
	color: #000;
}

.ui-accordion-content {
	padding: 1px 15px;
	border: 1px solid #ccc;
	border-top: none;
}

.pdf-download {
	padding-left: 45px;
	background: transparent url(../images/pdf-icon.png) no-repeat top left;
	min-height: 32px;
}

.pdf-icon {
	float: left;
	margin: 0 1em 1em 0;
}

.two-columns .column-one,
.two-columns .column-two {
	width: 48%;
	float: left;
}

.two-columns .column-one {
	margin-right: 4%;
}

.testimonial {
	background: #e9e9e9;
	padding: 1px 16px;
	margin-bottom: 15px;
  margin-right: 325px;
}

.testimonial .name {
	font-weight: bold;
	margin-bottom: 0.5em !important;
	color: #000;
}

.testimonial .quote {
	margin-top: 0 !important;
	font-style: italic;
}

/* Derivatives Table */
.product-derivs {
	width: 100%;
}

.product-derivs td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	vertical-align: middle;
}

.product-derivs thead {
	border-bottom: 5px solid #f3f3f3;
}

.product-derivs thead th {
	border-right: 1px solid #f3f3f3;
}

.product-derivs tr:hover td {
	background: #f0f0f0;
}

.product-derivs a {
	text-decoration: none;
}

.product-derivs a:hover {
	text-decoration: underline;
}

.product-derivs .subtle {
	color: #999;
}

.product-derivs th {
	text-align: left;
	padding: 7px 5px;
  background: #999;
  color: #fff;
}

.product-derivs .deriv-co2,
.product-derivs .deriv-p11d,
.product-derivs .deriv-finance {
	text-align: center;
}

.product-derivs .deriv-more {
	text-align: right;
}

.product-derivs .vehicle-more {
	background: #DA2A34;
	color: #fff;
	display: block;
	float: right;
	padding: 3px 5px;
}

.product-derivs .vehicle-more:hover {
	background: #000;
	text-decoration: none;
}

.grey {
	color: #999;
}

/* Vehicle Detail Page */
h1 .deriv-name {
  font-weight: normal;	
}

table.finance-details {
	margin: 1em 0 2em 0;
	font-size: 1.15em;
}

table.finance-details td.label {
	padding-right: 15px;
}

table.finance-details td {
	padding-top: 4px;
	padding-bottom: 4px;
}

table.finance-details .finance-rental {
	font-weight: bold;
	font-size: 1.15em;
}

table.finance-details .finance-notice {
	color: #999;
}

table.finance-details .finance-notice {
	font-size: 0.8em;
}

#vehicle-image {
	float: right;
}

#vehicle-title.with-image {
	margin-right: 370px;
}

#quote-buttons {
	padding-top: 28px;
	width: 200px;
	float: right;
}

#quote-buttons input {
	border: none;
	display: block;
	text-align: center;
	background: #DA2A34;
	color: #fff;
	padding: 10px;
	font-size: 1.8em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	
	box-shadow: #999 1px 1px 4px;
	-webkit-box-shadow: #999 1px 1px 4px;
	-moz-box-shadow: #999 1px 1px 4px;
	-ms-box-shadow: #999 1px 1px 4px;
}

#vehicle-tabs {
	width: 700px;
	float: left;
}

.css-columns {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	column-gap: 40px;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	-ms-column-gap: 40px;
}

.css-columns .group {
  display: inline-block;
  width: 100%;
}

.css-columns .group h3 {
  margin: 0.7em 0;
}

#vehicle-options .group ul {
	padding: 0;
	margin: 0;
}

#vehicle-options .group li {
	display: block;
	list-style-type: none;
	padding: 2px 0;
}

#vehicle-options .group li input {
	float: left;
	margin-top: 1px;
}

#vehicle-options .group li label {
	margin-left: 20px;
	display: block;
	line-height: 1.2;
}

/* Jquery UI Tabs */
.ui-tabs-hide {
	display: none;
}

ul.ui-tabs-nav {
	margin: 0;
	padding: 0;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 0 3px 0 0;
	padding: 0;
}

.ui-tabs-nav li a {
	display: block;
	padding: 5px 10px;
	background: #d4d4d4;
	text-decoration: none;
	font-size: 1.1em;
}

.ui-tabs-nav li.ui-state-active a {
	background: #DA2A34;
	color: #fff;
}

.ui-tabs-panel {
	border: 1px solid #DA2A34;
	border-top-width: 5px;
	padding: 5px 15px;
}