# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.77

# BEGIN WordPress
#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/blog/(wp-admin|wp-admin/.*)$
RewriteRule . /blog/index.php [L]
#</IfModule>
# END WordPress